/* ===== INGREDIENTS-SPECIFIC STYLES ===== */
.search-add-container {
    display: flex;
    gap: 1rem;
    margin-top: 1rem;
}

.search-form, .add-form {
    display: flex;
    flex: 1;
}

.ingredients-list {
    margin: 2rem;
    display: grid;
    gap: 1rem;
}

.ingredient-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: var(--text-light);
    border-radius: 4px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.delete-button {
    color: var(--accent);
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
}

.delete-button:hover {
    text-decoration: underline;
}